# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.sqlite3

# Logs
logs/
*.log

# pytest cache
.pytest_cache/

# IDE / Editor
.vscode/
.idea/

# Temporary files
*.tmp
*.bak
*.swp

# OS
.DS_Store
Thumbs.db

# PyCharm / IntelliJ
.idea/
